/* variables */
:root {
  --bg-color: #191919;
  --blue-1: #3498db;
  --blue-2: #1b2a4a;
  --green-1: #2ecc71;
  --green-2: #2ecc7070;
  --white-1: #ededed;
  --red-1: #e21616;
  --red-2: #d12020;
}

/* reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: none;
}
a {
  text-decoration: none;
  color: var(--green-1);
}
img {
  width: 100%;
  height: 100%;
}
body {
  font-size: 0.825rem;
}

/* typographi */
h2 {
  font-size: 2rem;
}
button {
  font-size: 1.2rem;
}
a {
  font-size: 1.4rem;
}
input {
  font-size: 1.2rem;
}
span {
  font-size: 0.9rem;
}
label {
  font-size: 1.1rem;
}
p {
  font-size: 1.4rem;
}
/* styles */

body {
  height: 100vh;
  background: var(--bg-color);
  color: var(--white-1);
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.container {
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  width: min(80vw, 500px);
}
.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem 0;
  padding: 0 1rem;
}
.form__control {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__control span {
  display: inline-block;
  padding: 0.3rem;
  height: 1rem;
  color: var(--red-2);
}
.form__control:nth-child(5) {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.form__control:nth-child(5) label {
  grid-column: 1/4;
  width: 100%;
}
.form__control:nth-child(5) input {
  grid-column: 4/5;
  width: max-content;
  border: 0.15rem solid var(--blue-1);
  appearance: none;
  border-radius: 50%;
}
.form__control:nth-child(5) input:focus {
  border-color: var(--green-1);
}
.form__control:nth-child(5) input:checked {
  background-color: var(--blue-1);
  border-radius: 50%;
}
.form__control:nth-child(5) span {
  grid-column: 1/6;
}

.form__control input {
  border: 0.15rem solid var(--blue-1);
  text-align: center;
  color: var(--white-1);
  padding: 0.5rem;
  border-radius: 2.5rem;
  width: 80%;
  transition: 0.25s;
}
.form__control input:focus:not(input[type="checkbox"]) {
  border-color: var(--green-1);
  width: 100%;
}

.form__btn button {
  border: 0.15rem solid var(--green-1);
  padding: 0.5rem;
  color: var(--white-1);
  border-radius: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.form__btn button:hover {
  background-color: var(--green-1);
  color: var(--bg-color);
}
.form__link {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form__link a {
  margin-left: 0.4rem;
}

.form__control .uncompleted {
  border-color: var(--red-1);
}

/* CSS Styles */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 0;
  position: absolute;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
